
body {
  padding-top: 70px; /* Compensa la barra de navegación fija */
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Permite que el footer se quede abajo */
}

.hero-section {
  /* Añadimos un degradado negro con opacidad para que se aprecie la imagen */
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url('principal.jpg');
  
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: white;
  padding: 150px 0; 
}

:focus-visible {
  outline: 3px solid #ffc107;
  outline-offset: 2px;
  box-shadow: 0 0 5px rgba(255, 193, 7, 0.8);
}