/* style.css */
body {
  padding-top: 70px; /* Compensa la barra de navegación fija */
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Permite que el footer se quede abajo */
}

.hero-section {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://images.unsplash.com/photo-1549140602-0db4bbaf365f?auto=format&fit=crop&q=80&w=1200') no-repeat center center;
  background-size: cover;
  color: white;
  padding: 100px 0;
}